<h1>Stupid Coaching</h1>
<div class="d-flex align-items-center flex-column">
<%= @answer %>
<p>-You</p>
</div>

<div class="d-flex align-items-center flex-column">
<%= @coach %>
<p>-Your coach </p>
</div>

<div class="d-flex align-items-center flex-column"><%= link_to "Ask a new question", ask_path %></div>
